body {
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, #00008b, #448EE4);
    color: #ffffff;
    font-family: Tahoma;
    font-size: 20px;
    padding: 10px 10px;
}

.banner {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.banner a {
    color: #ffffff;
    padding: 20px;
    display: block;
}

.banner a:hover {
    background-color: #00008b;
    color: black;
}

.banner h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

.banner p {
    font-size: 30;
}

.options {
    width: 60vw;
    max-width: 500px;
    min-width: 200px;
    margin: 0 auto;
    padding-bottom: 2em;
}

input[type="text"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    background-color: #ADD8E6;
}